{% extends 'base/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <main class="container mt-3 pb-5">
        <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
            <div class="card-body px-3 pb-4">
                <h1 class="h4 pt-2 pb-3">Резюме пользователя - {{ resume.user.username }}</h1>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <h2>Привет, я - {{ resume.name }} {{ resume.surname }}</h2>
                <p>Я - {{ resume.status }}</p>
                <hr>
                <p>Моя специальность это - {{ resume.speciality }}.</p>
                <p> У меня есть образование - {{ resume.education }}</p>
                <p>Я квалифицирую себя {{ resume.grade }} специалистом.</p>
                <p>Мой опыт работы соостовлет - {{ resume.experience }}.</p>
                <p>За свою работу мне хотелось бы получать {{ resume.salary }}.</p>
                <p>Вот мое прекрасное портфолио {{ resume.portfolio }}.</p>
            </div>
        </section>
    </main>
{% endblock %}